---
apiVersion: apps/v1
kind: DaemonSet
metadata:
  name: varmor-agent
  namespace: varmor
  labels:
    app: varmor
    app.kubernetes.io/name: varmor-agent
spec:
  selector:
    matchLabels:
      app: varmor
      app.kubernetes.io/name: varmor-agent
  template:
    metadata:
      labels:
        app: varmor
        app.kubernetes.io/name: varmor-agent
      annotations:
        container.apparmor.security.beta.kubernetes.io/agent: unconfined
    spec:
      hostPID: true
      serviceAccountName: varmor-agent
      imagePullSecrets:
      - name: varmor-image-pull-secret
      containers:
      - name: agent
        image: elkeid-test-cn-beijing.cr.volces.com/varmor/varmor:v0.6.0-rc1
        imagePullPolicy: Always
        command: ["/varmor/vArmor", "--agent"]
        env:
        - name: NODE_NAME
          valueFrom:
            fieldRef:
              apiVersion: v1
              fieldPath: spec.nodeName
        - name: READINESS_PORT
          value: "6080"
        args:
        - --enableBpfEnforcer
        - --enableBehaviorModeling
        securityContext:
          capabilities:
            add:
            - SYS_ADMIN
            - BPF
            - SYS_RESOURCE
            - SYS_PTRACE
            - MAC_ADMIN
            - IPC_LOCK
          runAsUser: 0
        volumeMounts:
        - mountPath: /sys/kernel/security
          name: securityfs
        - mountPath: /sys/module/apparmor
          name: apparmor
        - mountPath: /etc/apparmor.d
          name: apparmor-dir
        - mountPath: /run/containerd
          name: containerd
        - mountPath: /var/run/varmor/audit
          name: audit-dir
        - mountPath: /sys/fs/bpf
          name: bpffs
        - mountPath: /sys/kernel/btf/vmlinux
          name: btf
        - mountPath: /var/lib/kubelet/seccomp
          name: seccomp-dir
        - mountPath: /var/log
          name: var-log-dir
        - mountPath: /var/run/secrets/tokens
          name: bound-token
        readinessProbe:
          httpGet:
            path: /health/readiness
            port: 6080
          initialDelaySeconds: 5
          periodSeconds: 10
      volumes:
      - hostPath:
          path: /sys/kernel/security
          type: Directory
        name: securityfs
      - hostPath:
          path: /sys/module/apparmor
          type: Directory
        name: apparmor
      - hostPath:
          path: /var/run/varmor/apparmor.d
          type: DirectoryOrCreate
        name: apparmor-dir
      - hostPath:
          path: /run/containerd
          type: Directory
        name: containerd
      - hostPath:
          path: /var/run/varmor/audit
          type: DirectoryOrCreate
        name: audit-dir
      - hostPath:
          path: /sys/fs/bpf
          type: Directory
        name: bpffs
      - hostPath:
          path: /sys/kernel/btf/vmlinux
          type: File
        name: btf
      - hostPath:
          path: /var/lib/kubelet/seccomp
          type: DirectoryOrCreate
        name: seccomp-dir
      - hostPath:
          path: /var/log
          type: Directory
        name: var-log-dir
      - projected:
          sources:
          - serviceAccountToken:
              path: bound-token
              expirationSeconds: 7200
              audience: varmor-manager
        name: bound-token
      affinity:
        nodeAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            nodeSelectorTerms:
            - matchExpressions:
              - key: kubernetes.io/os
                operator: In
                values:
                - linux
              - key: node.kubernetes.io/instance-type
                operator: NotIn
                values:
                - virtual-node
            - matchExpressions:
              - key: beta.kubernetes.io/os
                operator: In
                values:
                - linux
              - key: beta.node.kubernetes.io/instance-type
                operator: NotIn
                values:
                - virtual-node
      tolerations:
        - effect: NoSchedule
          operator: Exists
