---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: varmor-classifier
  namespace: varmor
  labels:
    app: varmor
    app.kubernetes.io/name: varmor-classifier
spec:
  replicas: 1
  selector:
    matchLabels:
      app: varmor
      app.kubernetes.io/name: varmor-classifier
  template:
    metadata:
      labels:
        app: varmor
        app.kubernetes.io/name: varmor-classifier
    spec:
      nodeSelector:
        kubernetes.io/os: linux
      securityContext:
        runAsNonRoot: true
      terminationGracePeriodSeconds: 30
      imagePullSecrets:
      - name: varmor-image-pull-secret
      containers:
      - name: classifier
        image: elkeid-test-cn-beijing.cr.volces.com/varmor/varmor-classifier:v0.5.0
        imagePullPolicy: IfNotPresent
        securityContext:
          allowPrivilegeEscalation: false
          capabilities:
            drop:
            - MKNOD
            - NET_RAW
        ports:
        - containerPort: 5000
          name: class
          protocol: TCP
        livenessProbe:
          httpGet:
            path: /healthz
            port: 5000
          failureThreshold: 3
          periodSeconds: 15
